
.trends-container{
  max-height: 400px;
  overflow-y: auto;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 1rem;
}

th, td {
  padding: 0.5rem 0.75rem;
  border-bottom: 1px solid #ccc;
  text-align: left;
}
