:host { display: block; padding: 2rem; }

.page-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}


.top-ten-table{
  width: 100%;
  border-collapse: collapse;
  margin-top: 1rem;

  th,td{
    border: 1px solid black;
    padding: 0.5rem 0.75rem;
    text-align: left;
  }
}

