<h2>View Members Who Streamed a Movie</h2>

<label for="movieSelect">Select a Movie:</label>
<select [(ngModel)]="selectedMovieId" (ngModelChange)="loadMembers()">
  <tbody *ngIf="movies$ | async as movies">
  <option *ngFor="let m of movies" [value]="m.content_id">
    {{m.content_name}}
  </option>
  </tbody>
</select>

<button (click)="loadMembers()">Load Members</button>

<hr>

<div *ngIf="members.length > 0">
  <h3>Streamed by:</h3>
  <table class="members-table">
    <thead>
    <tr>
      <th>Member ID</th>
      <th>Name</th>
      <th>email</th>
      <th>Time Stamp</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let m of members">
      <td>{{m.member_id}}</td>
      <td>{{m.name}}</td>
      <td>{{m.email}}</td>
      <td>{{m.timestamp}}</td>
    </tr>
    </tbody>
  </table>
</div>

<div *ngIf="selectedMovieId && members.length === 0">
  No Members have streamed this movie
</div>
