<div class="page-header">
  <h1>View Members Who Streamed a Movie</h1>
</div>

<div class="form-container">
  <label for="movieSelect">Select a Movie:</label>
  <select id="movieSelect" [(ngModel)]="selectedMovieId" (change)="onMovieChange()">
    <option [ngValue]="null">-- Select a Movie --</option>
    <ng-container *ngIf="movies$ | async as movies">
      <option *ngFor="let m of movies" [ngValue]="m.content_id">
        {{m.content_name}}
      </option>
    </ng-container>
  </select>
</div>

<div *ngIf="isLoadingMembers"> loading members...</div>

<div class="table-container" *ngIf="members.length > 0">
  <h3>Streamed by:</h3>
  <table>
    <thead>
    <tr>
      <th>Member ID</th>
      <th>Name</th>
      <th>Email</th>
      <th>Time Stamp</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let m of members">
      <td>{{m.member_id}}</td>
      <td>{{m.name}}</td>
      <td>{{m.email}}</td>
      <td>{{m.timestamp}}</td>
    </tr>
    </tbody>
  </table>
</div>

<div *ngIf="selectedMovieId && hasRequestedMembers && !isLoadingMembers && members.length === 0">
  No Members have streamed this movie
</div>
