select, button {
  margin: 8px 0;
}

.members-table{
  width: 100%;
  border-collapse: collapse;
  margin-top: 1rem;

  th,td{
    border: 1px solid black;
    padding: 0.5rem 0.75rem;
    text-align: left;
  }

}
